.Details {
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.filmImgWrap {
    width: 100%;
    /* overflow: hidden; */
}

.filmWord1 {
    margin: 16px auto;
    border-left: 16px solid RGB(228, 200, 156);
    font-size: 16px;
    padding-left: 4px;
}

.filmWord2 {
    height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 12px
}

.filmWord3 {
    text-overflow: ellipsis;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px
}

.operation {
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 100%;
    text-align: center;
}

.button {
    font-size: 14px;
    min-width: 156px;
    height: 36px;
    line-height: 36px;
    border: none;
    background-color: #fe8233;
    padding: 0;
    margin: 0;
    border-radius: 18px;
    color: #fff;
    -webkit-transition: 0.5s ease;
}